include LICENSE
include README_PYPI.md
include examples/*.py
include examples/*.json
exclude README.md
prune examples/samples
prune examples/decomposition
prune examples/verification
prune src/wlzpoly.egg-info
global-exclude __pycache__
global-exclude *.py[cod]
